// Шрифт по умолчанию
$fontfamily: 'Raleway';
// Шрифт меню
$MenuFont: 'Montserrat'; // шрифт текста меню
// Ширина экрана для изменения меню бургер
$BurgerMenuScreenWidth: 767px;
// Ширина ограничивающего контейнера  макета (контента)
$container-width: 1100px;
// Отступы безопасности для ограничивающего контейнера
$container-padding: 15px;
// Ширина экрана при которой начинаем изменять свойства
$targetDisplayWidth: 1600;
// Ширина экрана (минимальная) к которой масштабируем свойства при выборе варианта с уменьшением от заданной ширины (режим 0)
$minDisplayWidth: 320;
// Ширина экрана (максимальная) к которой масштабируем свойства при выборе варианта с увеличением от заданной ширины (режим 1)
$maxDisplayWidth: 2000;
// Цвет основной
$first_color: white;
$second_color: black;
$third_color: white;