//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import"fonts.scss";
@import "modules/variables.scss";
@import "modules/nullstyle.scss";
@import"modules/mixin.scss";
// Подключение файлов стилей страниц и элементов
@import "modules/ui.scss";
@import "modules/header.scss";
@import "modules/footer.scss";

body {
    color: $first_color;
    background-color: $second_color;
    font-family: $fontfamily;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;

}



// Оболочка
.wrapper {

    scroll-snap-type: y mandatory;
    width: 100%;
    overflow-y: auto;
    // overflow-y: auto;
    height: 100%;
    position: relative;

    scroll-behavior: smooth;
    // display: flex;
    // flex-direction: column;
}

// Ограничивающий контейнер
._container {
    margin: 0 auto;
    max-width: calc($container-width + $container-padding*2 );
    padding: 0 $container-padding;

}


.content {

    border: 2px solid yellow;
    height: 100vh;
    width: 100%;

    &__animation {
        height: 100%;
        width: 100%;
        border: 1px solid rgb(73, 144, 65);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        background-color: gray;
    }

    &__snap-page {
        position: relative;
        height: 100%;
        width: 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        border: 1px solid red;

        scroll-behavior: smooth;



    }
}

.content__snap-page:nth-child(2) {
    background-color: rgba(255, 99, 71, 0.418);
}

.content__snap-page:nth-child(3) {
    background-color: rgba(0, 255, 255, 0.593);
}

.content__snap-page:nth-child(4) {
    background-color: rgba(128, 0, 0, 0.472);
}

.content__snap-page:nth-child(5) {
    background-color: rgba(0, 128, 128, 0.467);
}